body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f5f5f5;
}

header{
  background:#111;
  color:#fff;
  padding:20px;
  text-align:center;
}

nav{
  background:#222;
  display:flex;
  justify-content:center;
}

nav a{
  color:white;
  padding:14px 20px;
  text-decoration:none;
}

nav a:hover{
  background:#444;
}

.hero{
  padding:50px;
  background:linear-gradient(to right,#4f46e5,#9333ea);
  color:white;
  text-align:center;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:30px;
}

.product{
  background:white;
  padding:15px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.product img{
  width:100%;
  border-radius:10px;
}

.product button{
  background:#4f46e5;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:5px;
  cursor:pointer;
}

.product button:hover{
  background:#3730a3;
}

.about,.contact{
  padding:30px;
  text-align:center;
  background:white;
  margin:20px;
  border-radius:10px;
}

.whatsapp-btn{
  display:inline-block;
  background:#25D366;
  color:white;
  padding:12px 25px;
  border-radius:5px;
  text-decoration:none;
}

footer{
  background:#111;
  color:white;
  text-align:center;
  padding:10px;
  }
